.contentWrap {
  position: relative;
  width: 100%;
  max-width: 100vw;
  padding: 2rem 2rem 1.5rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
  flex-grow: 1;
  max-height: 100%;
  /* overflow: hidden; */
}

.mainAreaWrap {
  /* margin-top: 1.5rem; */
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  gap: 1.25rem;
  overflow: hidden;
  padding-bottom: 6.75rem;
  flex-grow: 1;
  /* TODO: remove */
  justify-content: center;
}

.drawAreaWrap {
  position: relative;
  flex-grow: 1;
  max-width: calc(100% - 2 * 16.875rem - 1.25rem * 2);
  background: center / 100% 100% no-repeat url("/bg/draw-area-bg.png");
}

.canvasWrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
